<!doctype html>
<html>
  <head>
    <title>Chat <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Chat to your friend <%=shopName%></h1>
    <form method="POST" action="/chat-result">
      <p>Recipient username: <input id="username" type="text" name="username" value="username" /></p>
        <p>Message: <input id="message" type="text" name="message" value="message" /></p>
        <input type="submit" value="Send" />
      </form>
  </body>
</html>