<!doctype html>
<html>
  <head>
    <title>Chat <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>send a GIF to your friend <%=shopName%></h1>
    <form method="POST" action="/gif-send">
      <p>Recipient username: <input id="username" type="text" name="username" value="username" /></p>
        <p>GIF search: <input id="gif" type="text" name="gif" value="gif" /></p>
        <input type="submit" value="Send" />
      </form>
  </body>
</html>