<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to <%=shopName%></title>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="header">
        <nav>
            <div class="navi" id = "menu">
                <i class="fa fa-times-circle" onclick="menuExit()"></i>
                <ul>
                    <li><a href="register">Register with us</a></li>
                    <li><a href="login">login</a></li>
                    <li><a href="logout">logout</a></li>
                    <li><a href="weather">Weather</a></li>
                    <li><a href="chat-list">Chats</a></li>
                </ul>    
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    <div class="front-box">
      <h1>Mohammed Nayeem Hoque's <br> Mini project</h1>
      <p>This is a web message platform<br>with GIF functions</p>
      <a href="#about" class="button">Learn more</a>
  </div>
  </section>
  <!------about------>
    
<section class="firstsec" id="about">
  <h1>Welcome to <%=shopName%></h1>
  <p>About</p>
  
  <div class="row">
      <div class="firstsec-col">
          <h3>Individual chats</h3>
          <p>Friends can talk to each other individually in a chat</p>
      </div>
      <div class="firstsec-col">
          <h3>Group chats</h3>
          <p>People can talk on group chats with their friends</p>
      </div>
      <div class="firstsec-col">
          <h3>GIF messages</h3>
          <p>Friends can send GIFS to their friends</p>
      </div>
  </div>
</section>
  <script>
    var menu = document.getElementById("menu");
    
    function showMenu(){
        menu.style.right = "0";
    }
    
    function menuExit(){
        menu.style.right = "-199px";
    }
</script>
  </body>
</html>
